#version 86

running_process_num=8			#running process num 
					#(notice: this is not the all
					#process number that you start 
					#but the real processer number
					#that is good at speed up)

subset_size=10				#subset size , how many sample
					#as a subset

modular_size=2				#save modular size(n) , save
					#n_i*n_j(i!=j) subset as a modular

#m3_save_for_increase_learning=1		#save for increase learning at next time
#m3_increase_learning=increase_learning.config
					#the file that config in (default:increase_learning.config)

m3_min_max_mode=1			#0--full 1--min_vector
m3_load_mode=0				#0--parallel 1--serial
m3_classify_mode=0			#0--parallel 1--serial
m3_pruning_mode=1			#0--non 1--sematric pruning 2--asematric pruning
m3_pruning_speed_mode=0			#0--non 1--load all test case in memory
m3_pruning_combine_score=2		#0--only mid score 1--only combine 2--both
					# switch m3_pruning_speed_mode=1
divider_rank=1
classifier_rank=2
classifier_parameter_rank=2
voter_rank=1

#train=my_data_4
#train=animals_train-31-160000
train=abalonetrain.dat
#classify=my_data_4
#classify=animals_test-31-160000
classify=abalonetrain.dat
#classify=aba_1.dat
#score=my_data_4
#score=abalonetrain.dat
#compare=Split_Data/true_label
